#contenedor{
    max-width: 100%;
    min-height: 100vh;
}

header {
    background-color: #1d285e;
    color: white;
}


nav{
    background-color: #1d285e; 
    text-align: right;
}

nav a{
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 6px;
}

nav a:hover{
    background-color: white;
    color: #1d285e;
}

nav a.active{
    background-color: white;
    color:#1d285e;
}

aside{
    
    border: s;
}


.productos{
    margin: 11px;
}

h1{
    margin: auto;
    height: auto;
}

#foto{
    float: left;
    
}

#foto img{
    height: 200px;
    width: 235px;
}

#inicio{
    margin: 10px;
    padding: 10px;
    float: right;
    height: auto;
    width: auto;
}

aside h2{
    margin-top: 10px;
}

#formulario{
    margin: 15px;
}

#items{
    margin: 12px;
}

#enviar_compra{
    margin: 5px;
    width: 30vh;
}

#vaciar_compras{
    margin: 5px;
    width: 30vh;
}

.sinBorde{
    border: 0px;
}

.iconcarrito{
    width: 200px;
    height: 200px;
    float: right;
}

.botonModal{
    width: 20cm;
    background-color: cornflowerblue;
}

.copyright{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

#titulo{
    font-size: 9vw;
    font-family: 'Trebuchet MS';
}


.titulo-productos{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: dimgrey;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#datos_total{
    background-color: gray;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2vh;
}
#titulo_carrito{
    background-color: gray;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2vh;
}