
#boton{
    padding: 0.5em;  
    border: solid #a0ce4e 2px; 
    background: white; 
    margin-left: 6%;
    font-weight: bolder;
    padding-left: 1em;
    padding-right: 1em;
}

#boton:hover{
    background: #a0ce4e;
    color: white;
}







