.cont{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2.5em;

}

.form{
     margin-top: 3%;
    margin-left: 20%;

     justify-content: center;
     align-items: center;
     margin-bottom: 8%;
    width: auto;
    border-left: 2px solid #3f3d59;
}

.formu{
    margin-top: 3%;
   margin-left: 0%;

    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
   width: auto;
}

.mensaje{
    background: #a0ce4e;
}

p{
    
    display: inline-flexbox;
}

input {
    margin: 10px;
    width: 200px;
}



#boton{
    padding: 0.5em;  
    border: solid #a0ce4e 2px; 
    background: white; 
    margin-left: 6%;
    font-weight: bolder;
    padding-left: 1em;
    padding-right: 1em;
}

#boton:hover{
    background: #a0ce4e;
    color: white;
}

/* login*/
.caja{
    text-align: center;
    align-items: center;
    padding: 40px;
}
.caja::placeholder{
    text-align: center;
    justify-content: center;
}
