@font-face {
    font-family: arcade;
    src: url(../Fuentes/8-BIT\ WONDER.TTF);
}

@font-face {
    font-family: nimbus;
    src: url(../Fuentes/nimbus-sans-l.regular.otf);
}

.arcade{
    font-family: arcade;
}


body{
    background-color: #212121;
    overflow: hidden scroll;
    font-family: nimbus;
}

 /* div{
    border: solid white;
}  */



.tituloVentajas{
    color: white;
    font-family: arcade;
    font-size: 40px;
    margin: 30px;
}

.registrarUsuario{
    color: white;
    font-family: arcade;
    font-size: 30px;
    margin: 30px;
}

#listaV{
    color: white;
    background-color: teal;
    border-radius: 20px;
    margin-right: 10px;
    
}
.punto{
    font-family: nimbus ;
    font-size: 100%;
}
