* {
    margin: 0px;
}

.Inicio,
.Curriculum,
.Proyectos,
.Contactos{
    border: solid 1px;
    border-color: white;
    width: 99%;
    height: 25%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    size: 13px;
    font-size: 50px;
       }


.Inicio:hover{
    background-color: rgb(105, 105, 105);
    color: rgb(151, 150, 150);
}
.Curriculum:hover{
    background-color: rgb(105, 105, 105);
    color: rgb(151, 150, 150);
}
.Proyectos:hover{
    background-color: rgb(105, 105, 105);
    color: rgb(151, 150, 150);
}
.Contactos:hover{
    background-color: rgb(105, 105, 105);
    color: rgb(151, 150, 150);
}



.grid {
    max-width: 100%;
    min-height: 100vh;
    margin: 0% auto;
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 17% 63% 25%;
    grid-template-rows: 30% 55% 25% ;
    grid-template-areas: 
    "my-nav my-header my-header" 
    "my-section my-section my-aside"
     "my-footer my-footer my-footer";
}

.iniciarSesion{
    border: dotted;
    color: rgb(0, 60, 170);
}


.menu{
    padding: 5%;
    margin: 5%;
}


.enlaces{
    padding: 5%;
    margin: 5%;
}


header {
    grid-area: my-header;
    background-color:  rgb(0, 158, 179);
    
}

nav {
    grid-area: my-nav;
    background-color: chartreuse;
   
}

aside {
    grid-area: my-aside;
    background-color: rgb(104, 245, 255);
    
}

.menu,
.enlaces{
    background-color: rgb(0, 158, 179);
    border: dashed;
}

.imagenHarold{
    width: 150px;
    border: outset 10px;
    height: 200px;
    right: 80%;
    margin-top: 2%;
    margin-left: 1.5%;
}

section {
    grid-area: my-section;
    background-color: rgb(255, 255, 255);
   
}

footer {
    grid-area: my-footer;
    background-color: rgb(0, 158, 179);
        
}

.nombre{
    float: right;
    position: relative;
    bottom: 150px;
    left: -290px;
    font-size: 30px;
    
}

.webPersonal{
    float: right;
    position: relative;
    bottom: 70px;
    left: 30%;
    font-size: 20px;
}

.iniciarSesion{
    position: absolute;
    right: 2%;
    bottom: 94%;
    font-size: 20px;
}

#caja5{
    float: left;
    padding: 1%;
}

.noticia-texto{
    padding: 1%;
    text-align: justify;
    width: 94%;
    left: 80%;
    
}


.textoWeb{
    color: white;
    text-align: center;
}

.infromacion{
    float: left;
    border: solid;
    background-color:  rgb(0, 158, 179);
}


.Info{
    float: right;
    position: relative;
    bottom: -15px;
    right: 880px;
    font-size: 15px;
    font-family: Verdana
}

.Siguenos{
    float: right;
    position: relative;
    bottom: -15px;
    right: 350px;
    font-size: 15px;
    font-family: Verdana
}

.Enlace{
    float: right;
    position: relative;
    bottom: -15px;
    right: -90px;
    font-size: 15px;
    font-family: Verdana
}

.MenuF{
    float: right;
    position: relative;
    bottom: -15px;
    right: -500px;
    font-size: 15px;
    font-family: Verdana
}

.cajaInicioSesion{
background-color: rgb(114, 203, 214) ;
margin-top: 5%;
margin-left: 10%;
border: solid;
width: 70%;
height: 60%;
border: dashed;

}

.contenidoInicioSesion{
    padding: 2%;
}

#usuario{
    margin: 2%;
    margin-right: 2%;
    width: 50%;    
    height: 20px;
    
}

.cajaIngresar{
    
    width: 20%;
    height: 35px;
    margin-top: -7%;
    margin-left: 70%;
    cursor: pointer;
    background-color: blue;
    border-radius: 7%;
}

#Contraseña{
    margin: 2%;
    margin-right: 2%;
    width: 50%;    
    height: 20px;
    
}
.nuevoUsuario{
    margin-top: -8%;
    margin-left: 520px;
}

.registrarseB{
    background-color: blue;
    width: 20%;
    height: 35px;
    margin-left: 70%;
    text-align: center;
    cursor: pointer;
}

.cajaCurriculum{
    padding: 2%;
    font-family: Arial;
    font-size: 13px;
    text-align: justify;
}






.form-register {
    width: 400px;
    background: cyan;
    padding: 10px;
    margin: 10px;
    margin-top: 10px; 
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(10, 10, 10);
    float: left;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Pangolin', cursive;
    letter-spacing: 0.2em;
    word-spacing: 0.25em;
  }
  
  .controls {
    width: 90%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #24babc;
    font-family:'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
    font-family:'calibri';
  }
  
  .form-register a:hover {
    color:#24babc;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 50%;
    background: #757474;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    margin-bottom: auto;
  }
  
.imgUbic{
  
    padding-top: 10%;
    width: 550px;
    height: 600px;
    float: right;
    margin: 20px;
    
}

.botons:hover {
    background: #eaef9b;
    color:black;
    text-decoration: none;
   }

.pry{
    margin: 3px;
}