#contenedor{
    width: 700px;
    margin: auto;
    background-color: rgb(229, 178, 241);
    padding-left: 10px;
    font-family: calibri;
    padding: 10px
}

span {
    width: 100px;
    display: block;
    float: left;
    padding-left: 4px;
    font-family:calibri }
.nom{
    background-color:rgb(224, 224, 224); 
    width: 220px;   
}

.titu{
    background-color:rgb(199, 173, 198);
    width: 220px;
}

li{
    list-style: none;
    margin-top: 1px;
    
}

ul{
    margin: 0px;
    padding-left: 0px;
}
h3{
    font-family: calibri;
    font-size: 25px;
    margin: 5px;
    text-align: center;
    background: rgb(74, 15, 88);
    color: rgb(211, 200, 216);
}
body{
    font-family: calibri;
}
#bt{
    background: rgb(74, 15, 88);
    color: white;
    font-size: 16px;
    margin-left: 60px;
}