@font-face {
    font-family: arcade;
    src: url(../Fuentes/8-BIT\ WONDER.TTF);
}

@font-face {
    font-family: nimbus;
    src: url(../Fuentes/nimbus-sans-l.regular.otf);
}

body{
    overflow-x: hidden;
    font-family: nimbus;
}

.arcade{
    font-family: arcade;
}


.logo{
    width: 130px;
    height: 60px;
    margin-bottom: 2vh;
}


/*Header*/

header{
    border-bottom: #0d7377 3.5px solid ;
}

.logo_header{
    width: 155px;
    height: 70px;
    margin-bottom: 2vh;
}

.miniIcono{
    width: 37px;
    height: 37px;
}

.miniIcono2{
    width: 37px;
    height: 39px;
}

#login{
    border-radius: 16px;
}

.boton_nav{
    font-family: arcade;
    background-color: #212121;
    border: solid white 3px;
    border-radius: 17px;
    font-size: 13px;
}

.boton_nav:hover{
    background-color: #0d7377;

}
/*Contenido*/

.pin_info{
    height: 4rem;
    width: 4rem;
}

.txt_info{
    color: white;
    font-family: arcade;
    font-size: 12px;
}

#titulo_box{
    color: white;
    font-family: arcade;
    font-size: 20px;
}

.pin_box{
    height: 2rem;
    width: 4rem;
}

.perfil_producto{
    width: 250px;
    
}

#caja_mario{
    height: 70px;
    width: 90px;
}

.contenedor_marca{
    height: 90px;
    width: 90px;
    border: white solid 1.5px;
}

.imagen_marca{
    height: 27px;
    width: 70px;
    margin-top: 30%;
}

#destiny_marca{
    height: 10px;
    margin-top: 40%;
}

.pin_news{
    height: 2rem;
    width: 2rem;
}

.texto_equipo{
    color: white;
    font-size: 18px;
}

#titulo_equipo{
    color: white;
    font-family: arcade;
    font-size: 30px;
}

.imagen_cornerBox{
    width: 100px;
}


.donkey_kong{
    height: 120px;
    width: 130px;
}

.escalera{
    height: 200px;
}

.borde_blanco{
    border: white solid 1.5px;
}

.borde_bajo{
    border-bottom:white solid 1.5px ;
}

.borde_alto{
    border-top:#0d7377 3.5px solid;
}

.link_sinDecoracion{
    text-decoration: none;
    color: black;
}

/*Footer*/
.carta{
    width: 90px;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 2vh;
}

.pie{
  background-color: #212121;
   
}

.boton_footer{
    background-color: #0d7377;
    border-color: rgb(79, 97, 97);
    border-radius: 15px;
    font-size: 14px;
    font-family: arcade;
    color: white;
}


.card-text{
    font-size: 13px;
}

/*Usables*/

.link_articulo{
    color: black;
    text-decoration: none;
}

.negrita{
    font-weight: bold;
}

.color_dark{
    background-color: #212121;
}

.color_gray_light{
    background-color: #323232;
}

.tarjeta:hover{
    background-color: black;
    color: white;
}


/*
div{
    border: solid white 1px;
}

*/


@media screen and (max-width: 430px) {
    
    .ocultar{
        visibility: hidden;
        width: 0%;
        height: 0%;
    }


}

/* Animacion Pines */
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}

.corazon:hover {
	display: inline-block;
	animation: latidos .5s infinite;
	transform-origin: center;
}

.anim_ball { 
    transition: all 2s;
    }

.anim_ball:hover { 
    transform:rotate(360deg)
}


.anim_caja:hover{
    animation: salto .5s alternate infinite ease-in;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');


@keyframes salto{
    0%{
        transform: translateY(-9%);
    }
    100%{
        transform: translateY(0%);
    }
}