{% extends "base.html" %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
<link rel="stylesheet" href="{% static 'css/log.css' %}">

{% endblock %}

{% block titulo %}Bienvenido de nuevo | BOOM {% endblock %}

{% block masopcionesNav %}

{% endblock %}



{% block cuerpo %} 
<br>
<h5 style="color:WHITE ;font-weight: bold;
-webkit-text-stroke:  1.5px rgb(29, 29, 29);    align-items: center;
justify-content: center; text-align: center;">INICIO DE SESIÓN</h5>

<div id="cont">
  <form action="" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}

  <input  type="submit" name="submit" value="Ingresar" id="boton" >
</form>
</div>
{% endblock %}



{% block agregadoFoot %} 
{% endblock %}

{% block funciones %}

{% endblock %}


