{% extends "base.html" %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}


{% block titulo %}Perfil del usuario | BOOM {% endblock %}

{% block masopcionesNav %}

{% endblock %}

{% if messages %}
  {% for message in messages %}

  {% endfor%}
{% endif %}


{% block cuerpo %} 
<section class="perfil-usuario">
    <div class="contenedor-perfil">
        <div class="portada-perfil" style="width: 100%; height: 180px;">

            <div class="avatar-perfil">
                <img src="{{ user.perfil.rutaimagen.url}}" alt="img">
                <a href="#" class="cambiar-foto">
                    <i class="fas fa-camera"></i> 
                    <span>Cambiar foto</span>
                </a>
            </div>
            <div class="datos-perfil">
                <h5 style="font-size:30px;" class="titulo-usuario">{{ user.first_name }}</h5>
                <h5 style="font-size:20px;" class="titulo-usuario">@{{ user.username }}</h5>
            </div>
        </div>
        <div class="menu-perfil">
            <ul>
                <li><a href="#" title=""><i class="icono-perfil fas fa-bullhorn"></i>Anuncios {{ user.anunciosUsuario.count }}</a></li>
                <li><a href="#" title=""><i class="icono-perfil fas fa-info-circle"></i>Favoritos 00</a></li>
            </ul>
        </div>
    </div>
</section>
<!--====  End of html  ====-->

<style>
    .mensaje a {
        color: inherit;
        margin-right: .5rem;
        display: inline-block;
    }
    .mensaje a:hover {
        color: #309B76;
        transform: scale(1.4)
    }
    </style>

    <!--====  End of tarjeta  ====-->
    </body>

<div>
    <h1>HOLA</h1>
</div>
<!--====  End of html  ====-->

<style>
    .mensaje a {
        color: inherit;
        margin-right: .5rem;
        display: inline-block;
    }
    .mensaje a:hover {
        color: #f9faf9;
        transform: scale(1.4)
    }
    </style>

    <!--====  End of tarjeta  ====-->



{% endblock %}



{% block agregadoFoot %} 
{% endblock %}

{% block funciones %}

{% endblock %}

