{% extends "base.html" %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}


{% block titulo %}Bienvenido de nuevo | BOOM {% endblock %}

{% block masopcionesNav %}

{% endblock %}

{% if messages %}
  {% for message in messages %}

  {% endfor%}
{% endif %}


{% block cuerpo %} 

<section class="perfil-usuario">
    <div class="contenedor-perfil">
        <div class="portada-perfil" >
            <div class="sombra"></div>
            <div class="avatar-perfil">
                <img src="recursosPerfil/FtoPerfil.PNG" alt="img">
                <a href="#" class="cambiar-foto">
                    <i class="fas fa-camera"></i> 
                    <span>Cambiar foto</span>
                </a>
            </div>
            <div class="datos-perfil">
                <h4 class="titulo-usuario">Harold Ivan Roncal Gaslac</h4>
            </div>
        </div>
        <div class="menu-perfil">
            <ul>
                <li><a href="#" title=""><i class="icono-perfil fas fa-bullhorn"></i> Anuncios</a></li>
                <li><a href="#" title=""><i class="icono-perfil fas fa-info-circle"></i> Me Gustas</a></li>
                <li><a href="#" title=""><i class="icono-perfil fas fa-grin"></i> Seguidores</a></li>
                <li><a href="#" title=""><i class="icono-perfil fas fa-camera"></i> Comunidad</a></li>
            </ul>
        </div>
    </div>
</section>
<div>
    <h1>HOLA</h1>
</div>
<!--====  End of html  ====-->

<style>
    .mensaje a {
        color: inherit;
        margin-right: .5rem;
        display: inline-block;
    }
    .mensaje a:hover {
        color: #f9faf9;
        transform: scale(1.4)
    }
    </style>

    <!--====  End of tarjeta  ====-->



{% endblock %}



{% block agregadoFoot %} 
{% endblock %}

{% block funciones %}

{% endblock %}

