{% extends "base.html" %}

{% load static %}

{% block estilos %}

{% endblock %}

{% block titulo %} Confirmar correo electrónico | BOOM {% endblock %}


{% block cuerpo %} 

    <div style="margin: 80px;" class="row justify-content-md-center">
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">ES NECESARIO CONFIRMAR TU CUENTA</h5>
              <p class="card-text">Revisa la badeja de entrada de tu correo</p>
            </div>
          </div>
        </div>
    </div>

<br>

{% endblock %}



{% block agregadoFoot %} 
{% endblock %}

{% block funciones %}

{% endblock %}




